*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
}

input {
  font-family: "Rubik", sans-serif;
}

.sticky-body {
  overflow: hidden;
}

.loader {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.loader__text {
  color: white;
  font-size: 3.4rem;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}

.loader--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader--active .loader__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.header {
  background-image: url("../assets/images/pattern-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  padding-top: 1em;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.header__heading {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
}

.header__input {
  padding: 1em 2em;
  border: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.header__error-text {
  display: none;
  color: #ed2c2c;
}

.header__error-text--active {
  display: block;
}

.header__button {
  padding: 1.2em;
  background-color: #2b2b2b;
  border: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__information {
  min-width: 300px;
  position: relative;
  margin: 0.5em 1em;
  padding: 1em;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 1;
}

.header__information-box {
  padding: 0.5em;
}

.header__information-heading, .header__information-description {
  padding: 0.5em 0;
}

.header__information-heading {
  color: #969696;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.header__information-description {
  font-size: 2rem;
  font-weight: 700;
}

.map {
  min-height: 600px;
  z-index: 0;
}

@media (min-width: 768px) {
  .header {
    height: 300px;
  }
  .header__container {
    position: relative;
    height: 100%;
    gap: 2em;
  }
  .header__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2em;
    position: absolute;
    bottom: -70px;
    text-align: left;
  }
  .header__information-box:not(:first-child) {
    border-left: 0.5px solid #969696;
  }
  .header__form {
    width: 500px;
  }
  .header__input {
    width: 100%;
    font-size: 1.8rem;
  }
  .map {
    height: calc(100vh - 300px);
  }
}
/*# sourceMappingURL=global.css.map */