

@media (min-width: 768px) {
    .header {
        height: 300px;
        &__container {
            position: relative;
            height: 100%;
            gap: 2em;
        }
        &__information {
            display: flex;
            justify-content: center;
            gap: 2em;
            position: absolute;
            bottom: -70px;
            text-align: left;

            &-box:not(:first-child) {
                border-left: 0.5px solid $dark-gray;
            }
        }
        &__form {
            width: 500px;
        }
        &__input {
            width: 100%;
            font-size: 1.8rem;
        }
    }
    .map {
        height: calc(100vh - 300px);
    }
}